<header>
    <h1 [hidden]="true">Component4</h1>
</header>

<main>
    <div class="container outer">
        <div class="row pad16">
            <div class="col-lg-4 inner marR4">
                <app-sibling1></app-sibling1>
            </div>
            <div class="col-lg-7 inner marR4 margintop16">
                <app-subject2></app-subject2>
            </div>
        </div>
        <div class="row pad16">
            <div class="col-lg-4">
                <app-subject3></app-subject3>
            </div>
            <div class="col-lg-8">
              <app-subject4></app-subject4>
            </div>
        </div>
    </div>
</main>